body {	
	margin: auto;
	padding: auto;
	font-family: Arial, sans-serif;
}
header {
	width: auto;
	background: url("../img/12.jpg") no-repeat center top / cover;
	opacity: 0.83;
}
.container {
	width: 80%;
	margin: auto;
	height: 100%
}
.navbar { 
	color: white;
	opacity: 1;

}
nav {
	width: auto;
	height: auto;
}
.navbar li {
	margin-top: 13%;
}
.collapse {
	display: flex;
	justify-content: flex-end;
}
.active a {
	color:#003300;
	background:#;
	opacity: 0.3;
}
.nav-item a {
	opacity: 4;
	color: white;
	text-align: center;
	font-size: 27px;
}
.nav-item a:hover {
	color:#003300;
	background: white;
	opacity: 0.6;

}
.logo{
	padding: 25%;
	padding-left: 25%;
	padding-right: 25%;
	padding-bottom: 20%;
}
.logo h1 {
	
	font-family: 'Vollkorn SC', serif;
	text-align: center;
	color:white;
	font-weight: bold;
	font-size: 54px;
	border:6px solid #163822;
	border-radius: 1vh;
}
.logo p {
	font-family: 'Vollkorn SC', serif;
	padding-top: 4%;
	color: white;
	text-align: center;
	font-size: 50px;
	opacity: 0.78; 
}
.title {
	padding-top: 30px;
	padding-bottom: 30px;
}
.title h1 {
	font-family: 'Vollkorn SC', serif;
	text-align: center;
	font-weight: bold;
	color: #082a14;
	line-height: 2.5em;
}
.title p {
	font-family: 'Vollkorn SC', serif;
	text-align: center;
	font-weight: bold;
	color: black;
	line-height: 2em;
}
.about {
	display: flex;
	flex-flow: nowrap;
	justify-content: space-between;
	align-content:center;
}
.personal img {
	
}
.personal {
	padding-top: 25px;
	width: 23%;
	height: auto;
}
.personal h2 {
padding-left: 3%;
	font-family: 'Vollkorn SC', serif;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #222;
	margin-bottom: 55px;
}
.personal h3 {
	margin-top: 45px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #222;
}
.personal p {
	margin-top: 30px;
	text-align: center;
	color: #777777;
	font-size: 14px;
	line-height: 2.1em;
}
#info {
	background: #d8eef0;
	height: 100vh;
}
hr {
	margin-left: 450px;
	margin-right:450px; 
}
span{
	color: #222;
}

.resume {
	display: flex;
	
	justify-content: space-around;
	align-items: center;	
}
.resumeimg {
	padding-left: 20%;
}

.info {
	display:flex;
	flex-wrap:nowrap;
	justify-content: space-between;
	align-content: center;

}
.contacts {
	margin-bottom: 10px;
	margin-top: 10px;
	
}
.contacts img {
	margin-left: 40px;
	margin-right: 30px;
}
.contacts h3 {
	text-align: center;
}
.contacts p {
	text-align: center;
}
.contacts a { 
text-decoration: none;
 } 
#footer {
	background-color: #EAEAEA;
	height: 11vh;
}
.contant h4 {
	padding-top: 35px;
	text-align: center;
	color:blue;
}

